<!-- Beautiful Scaffold Menu Do Not Touch This -->
      <li class="<%= "active" if params[:controller] == "inspections" %>">
        <%= link_to t('app.models.inspection.bs_caption_plural', :default => 'inspection').capitalize, inspections_path %>
      </li>
